body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: white;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
}

.button {
    cursor: pointer;
    background: #E3B873;
    border-radius: 2px;
    border: 0;
    outline: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

.input {
    border: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}

.label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}

.checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
}
    
.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_link {
    text-decoration: none;
    color: white;
}

.header-button {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-size: 11px;
    padding: 13px 33px;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-number {
    color: #E3B873;
    text-decoration: underline;
}

.hero {
    background-image: url(../images/image\ 4.3.jpg);
    background-size: cover;
    height: 707px;
    padding: 194px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

.hero-container {
    position: relative;
    z-index: 2;
    padding-right: 43%;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-title {
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
}

.hero-text {
    font-size: 22px;
    line-height: 36px;
    width: 504px;
}

.hero-button {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    font-size: 11px;
    padding: 13px 33px;
}

.button-submit {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    font-style: italic;
    padding: 13px 18px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
}

.hero-title-city {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}

.projects {
    background-color: black;
    height: 1074px;
}

.projects-navigation {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    padding-top: 107px;
    padding-left: 530px;
    font-size: 14px;
}

.projects-navigation_item {
    padding-right: 60px;
}

.projects-navigation_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.projects-navigation_link:hover {
    color: #E3B873;
}

.projects-navigation_link:active, .projects-navigation_link:focus {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
}

.projects-navigation-image {
    display: block;
    margin-left: 530px;
    margin-top: 53px;
}

.projects-content-text {
    width: 442px;
}

.projects-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    width: 66px;
    margin-top: -490px;
}

.projects-text {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
}

.projects-subtitle {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.07em;
    color: #E3B873;
    width: 213px;
    margin-bottom: 0; 
}

.projects-attributes {
    display: flex;
}

.projects-content-attributes-right {
    margin-right: 92px;
}

.attributes-text {
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 34px;
}

.apartment {
    margin-bottom: 55px;    
}

.projects-slider {
    display: flex;
    position: relative;
    top: 150px;
    left: -522px
}

.slider-arrow {
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    background-color: transparent;
    width: 40px;
    margin-right: 30px;
}

.slider-btn {
    cursor: pointer;
    appearance: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    width: 10px;
    height: 10px;
    position: relative;
    top: 100px;
    }

.slider-btn:checked {
    background: #FFFFFF;
}

.online-control {
    margin-top: -360px;
}

.online-control-container {
    position: relative;
}

.online-control-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.online-control-icon {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.online-control-line {
    background: #E3B873;
    border-radius: 30px;
    width: 32px;
    height: 1.5px;
    margin: 11px 8px;
}

.online-control-image {
    display: block;
    margin-left: 211px;
    margin-top: 31px;
    filter: brightness(20%);
    position: relative;
}

.online-control_button-play {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 550px;
    bottom: 280px;
}

.online-control-line {
    width: 55px;
    height: 1.5px;
    background: #E3B873;
    border-radius: 30px;
    margin-top: -70px;
    margin-left: 600px;
    margin-bottom: 34px;
    border: none;
}

.online-control-text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin: 0 300px;
}

.online-control-button {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    width: 200px;
    height: 51px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    padding-top: 4px;
    margin-left: 49px;
}

.online-control-form {
    margin-top: 92px;
    margin-left: 160px;
}

.online-control-input {
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    margin-left: 30px;
    color: #363636;
    width: 231px;
}

.online-control-label {
    position: relative;
    bottom: 25px;
    left: 71px;
    color: rgba(54, 54, 54, 0.5);
}

.online-control-checkbox {
    position: relative;
    top: 39px;
    margin-left: 300px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.online-control-checkbox-input {
    appearance: none;
    background-color: #E3B873;
    border-radius: 1px;
    width: 18px;
    height: 18px;
}

.online-control-checkbox-input:checked {
    appearance: none;
    background-color: #E3B873;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    background-image: url(../images/Vector\ checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.online-control-checkbox-text {
    position: relative;
    bottom: 5px;
}

.types-of-repare-container {
    margin-top: 147px;
}

.types-of-repare-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
}

.types-of-repare-icon {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.types-of-repare-offers {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.offers-top-rectangle {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 286px;
    position: relative;
    bottom: 127px;
    left: 31px;
}

.types-of-repare-text-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;   
    color: #363636;
    position: relative;
    bottom: 420px;
    left: 65px;
}

.types-of-repare-list {
    position: relative;
    bottom: 440px;
    left: 40px;
}

.types-of-repare_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
    
.offers-bottom-rectangle {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    position: relative;
    bottom: 435px;
    left: 31px;
}

.rectangle-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;    
    color: #FFFFFF;
    text-align: center;
    padding-top: 14px;
}

.types-of-repare-bottom_content {
    margin-top: -300px;
}

.types-of-repare-image {
    position: relative;
    left: -103px;
}

.types-of-repare-bottom_content-text {
    position: relative;
    left: 140px;
    bottom: 550px;
    width: 400px;
}

.types-of-repare_list-number {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    height: 58px;
    width: 58px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.types-of-repare-bottom_list {
    list-style: none;
    position: relative;
    left: 25px;
    bottom: 575px;
}

.types-of-repare-bottom_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-bottom: 120px;
}

.types-of-repare-form {
    width: 506px;
    height: 509px;
    background-color: #131313;
    position: relative;
    top: -1750px;
    left: 745px;
    padding: 0 45px;
}

.types-of-repare-form-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 28px;
    padding-bottom: 9px;
}

.types-of-repare-label {
    color: rgba(255, 255, 255, 0.5);

}

.types-of-repare-input {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 3px;
    color: #FFFFFF;
    width: 408px;
    background-color: transparent;
    padding-top: 5px;
    margin-bottom: 40px;
}

.types-of-repare-checkbox {
    color: #FFFFFF;
    margin-top: -25px;
}

.online-control-button {
    width: 213px;
    height: 51px;
    position: relative;
    left: 150px;
    top: 35px;
}

.types-of-repare-bottom-logo-text {
    position: relative;
    top: -1730px;
    left: 750px;
}

.types-of-repare-bottom-text {
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-size: 18px;
    line-height: 26px;
    width: 220px;
    position: relative;
    top: -110px;
    left: 115px;
}

.portfolio {
    margin-top: -1600px;
    background-image: url(../images/image\ 5.1.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

.portfolio-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .80);
}

.portfolio-container {
    position: relative;
    z-index: 2;
}

.portfolio-content-text {
    width: 300px;
}

.portfolio-title {
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
    padding-top: 100px;
    padding-bottom: 20px;
}

.portfolio-list {
    list-style: none;
}

.portfolio-list_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: -35px;
}

.portfolio-list_item-active {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    margin-bottom: 10px;
    margin-left: -35px;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 1px;
    width: 150px;
}

.portfolio-content-images {
    position: relative;
    margin-left: 500px;
    margin-top: -900px;
}

.portfolio-image_top {
    position: relative;
    left: 400px;
    top: -250px;
}

.portfolio-image_left {
    position: relative;
    right: 355px;
    top: 110px;
}

.portfolio-image_center {
    position: relative;
    left: 400px;
    top: -220px;
}

.portfolio-image_bottom {
    position: relative;
    right: 355px;
    top: -130px;
}
