body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.header {
background-color: black;
}

    .container {
        max-width: 1250px;
        margin: 0 auto;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        height: 83px;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        }

        .header-navigation {
            list-style: none;
            display: flex;
        }

        .header-navigation_item {
            margin-right: 47px;
        }

    .header-navigation_link {
        text-decoration: none;
        color: white;
    }

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 11px;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.phone-number {
    color: #E3B873;
    text-decoration: underline;
}

.hero {
    background-image: url(../images/image\ 4.3.jpg);
    background-size: cover;
    height: 707px;
    padding: 194px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

    .hero-container {
        position: relative;
        z-index: 2;
        height: 676px;
        padding-right: 43%;
    }

        .hero-overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
        }

.title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    .hero-text {
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        width: 504px;
        }

.button-submit {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    font-style: italic;
    padding: 13px 18px;
    margin-left: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
}

    .city {
        font-family: 'Yeseva One', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        color: #E3B873;
    }

.projects {
    background-color: black;
    height: 1074px;
    }

    .projects_navigation {
        margin: 0;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        display: flex;
        list-style: none;
        padding-top: 107px;
        padding-left: 530px;
        font-size: 14px;
    }

    .projects-content-text {
        width: 442px;
    }

    .projects-title {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        width: 66px;
        margin-top: -490px;
    }

    .projects-text {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;
        margin-bottom: 42px;
    }


    .projects_navigation_item {
        padding-right: 60px;
        color: #E3B873;
    }

    .projects_navigation_item_grey {
        padding-right: 60px;
        color: rgba(255, 255, 255, 0.3);
    }

    .rectangle {
        width: 194px;
        height: 1px;
        background: #E3B873;
        margin-left: 530px;
        margin-bottom: 45px;
    }

    .projects-subtitle {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
        width: 213px;
        margin-bottom: 0; 
    }

    .projects-content-text-attributes {
        display: flex;
    }

    .projects-content-text-attributes-right {
        margin-right: 92px;
    }

    .projects-text-attributes {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
        margin-top: 9px;
        margin-bottom: 34px;
    }

        .apartment {
            margin-bottom: 55px;    
        }

    .projects-content-image {
        display: block;
        margin-left: 530px;
    }

    .projects-content-text-navigation {
        display: flex;
        margin-top: 80px;
        margin-left: -211px;
        
    }
    
    .vector {
        display: block;
        width: 8px;
        height: 13px;
    }

    .vector-stroke {
        display: block;
        width: 40px;
        margin-left: -8px;
        margin-bottom: 1px;
    }

    .white-circle {
        background: #FFFFFF;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        margin-left: 29px;
    }

    .grey-circle {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        width: 10px;
        height: 10px;
        margin-left: 17px;
        }

    .vector-right {
        display: block;
        width: 8px;
        height: 13px;
        transform: rotate(-180deg);
        margin-left: -7px;
        }

    .vector-stroke-right {
        display: block;
        width: 40px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

.online_control {
    margin-top: -360px;
}

.online_control-container {
    position: relative;
}

    .title-online_control {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

.online_control-icon {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

    .online_control-rectangle {
        background: #E3B873;
        border-radius: 30px;
        width: 32px;
        height: 1.5px;
        margin: 11px 8px;
    }

.online_control-image {
    display: block;
    margin-left: 211px;
    margin-top: 31px;
    filter: brightness(20%);
    position: relative;
}

    .ellipse {
        background: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        width: 85px;
        height: 85px;
        margin-left: 576px;
        margin-top: -257px;
        position: absolute;
        border-radius: 100%;
    }

    .polygon {
        width: 0px;
        height: 0px;
        margin-left: 611px;
        margin-top: -228px;
        position: absolute;
        border-top: 13px solid transparent;
        border-left: 22px solid #FFFFFF;
        border-bottom: 13px solid transparent;
    }

.online_control-line {
    width: 55px;
    height: 1.5px;
    background: #E3B873;
    border-radius: 30px;
    margin-top: 62px;
    margin-bottom: 34px;
    border: none;
    text-align: center;
}

.online_control-text {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin: 0 300px;
}

.online_control-button {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    width: 200px;
    height: 51px;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 4px;
    margin-left: 49px;
}

.form {
    margin-top: 92px;
    margin-left: 160px;
}

.input {
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    margin-left: 30px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    width: 231px;
}

.label {
    position: relative;
    bottom: 25px;
    left: 71px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.checkbox {
    position: relative;
    top: 39px;
    margin-left: 300px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.checkbox-input {
    background: #E3B873;
    border-radius: 1px;
}